#main_cards {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p-breeds .c-breed  .card {
    height: 100%;
}

.p-breeds .c-breed .card > img{
    height: 250px;
    object-fit: cover;
}