#main_cards {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p-breeds {
    background-color: aliceblue;
}

.p-breeds .c-breed  .card {
    height: 100%;
}

.p-breeds .c-breed .card > img{
    height: 250px;
    object-fit: cover;
}

.p-breeds .c-breed .card .card-body {
    background-color: blanchedalmond;
}

.p-breeds .c-breed .card .card-body .card-title {
    text-align: center;
}